html
  margin: auto
body
  margin: auto
@font-face
  font-family: 'babiol'
  src: url(babie___.ttf)
@font-face
  font-family: 'montserrat'
  src: url(montserrat-regular.ttf)
@font-face
  font-family: 'croissantone-regular'
  src: url(croissantone-regular.ttf)
@font-face
  font-family: 'dancingscript'
  src: url(dancing-script.ttf)
@font-face
  font-family: 'kaushanscript-regular'
  src: url(kaushanscript-regular.ttf)
$site-color: #569c87
$site-font-color: #fcca45
@mixin card-properties
  width: 40%
  text-align: center
  padding-top: 200px
  height: 400px
  margin: 5%
  -webkit-box-shadow: 0px 0px 16px 0px rgba(77, 77, 77, 1)
  -moz-box-shadow: 0px 0px 16px 0px rgba(77, 77, 77, 1)
  box-shadow: 0px 0px 16px 0px rgba(77, 77, 77, 1)
@mixin card1_theme
  font-family: 'babiol'
  background-color: #fcdfdb
@mixin card2_theme
  font-family: 'croissantone-regular'
  background-color: #fff5fe
@mixin card3_theme
  font-family: 'dancingscript'
  background-color: #f9f9f9
  h1
    font-size: 60px
  h2
    font-size: 35px
@mixin card4_theme
  background-color: #fdfffd
  font-family: 'kaushanscript-regular'
@mixin site-theme
  font-family: 'montserrat'
  background-color: #569c87
  color: #fcca45
@mixin radient_webkit
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
header
  background-color: $site-color
  text-align: center
  margin-bottom: 5%
  img
    padding: 5% 20%
    width: 40%
    height: 20%
#main
  display: flex
  flex-wrap: wrap
  height: 100%
  .main__card1
    @include card-properties
    @include card1_theme
    h1
      font-size: 70px
    h2
      font-size: 60px
      line-height: 10px
  img
    width: 15%
  .main__card2
    @include card-properties
    @include card2_theme
    h1
      font-size: 50px
      color: #c77410
    h2
      font-size: 35px
      background: rgb(198, 116, 17)
      background: linear-gradient(141deg, rgba(198, 116, 17, 1) 0%, rgba(183, 129, 77, 1) 25%, rgba(165, 102, 153, 1) 50%, rgba(140, 90, 176, 1) 75%, rgba(110, 76, 204, 1) 100%)
      @include radient_webkit
  .main__card3
    @include card-properties
    @include card3_theme
    h1
      font-size: 70px
      color: #0887fb
    h2
      font-size: 50px
      background: rgb(0, 41, 221)
      background: linear-gradient(141deg, rgba(0, 41, 221, 1) 0%, rgba(5, 106, 242, 1) 50%, rgba(7, 137, 251, 1) 100%)
      @include radient_webkit
  .main__card4
    @include card-properties
    @include card4_theme
    h1
      font-size: 60px
      font-weight: lighter
      color: #72bf56
    h2
      font-size: 50px
      background: rgb(90, 171, 72)
      background: linear-gradient(141deg, rgba(90, 171, 72, 1) 0%, rgba(169, 237, 116, 1) 50%, rgba(190, 255, 127, 1) 100%)
      @include radient_webkit
  p
    width: 100%
    height: 30px
    text-align: center
    margin-bottom: 22%
  .main--btn
    @include site-theme
    padding: 3% 10% 3% 10%
    font-size: 35px
    border-radius: 8px
    border: inherit
footer
    position: fixed
    bottom: 0
    left: 0
    height: 100px
    @include site-theme
    width: 100%
    font-size: 30px
    .footer__mention
      text-decoration-line: none
      @include site-theme
      padding: 3%
      float: left
    .footer__contact
      text-decoration-line: none
      @include site-theme
      float: right
      padding: 3%
