/* font */
a
  text-decoration-line: none
  color: inherit
@font-face
  font-family: 'babiol'
  src: url(babie___.ttf)
@font-face
  font-family: 'montserrat'
  src: url(montserrat-regular.ttf)
@font-face
  font-family: 'croissantone-regular'
  src: url(croissantone-regular.ttf)
@font-face
  font-family: 'dancingscript'
  src: url(dancing-script.ttf)
@font-face
  font-family: 'kaushanscript-regular'
  src: url(kaushanscript-regular.ttf)
$site-color: #569c87
$site-font-color: #fcca45
/* style */
@mixin card1_theme
  font-family: 'babiol'
  background-color: #fcdfdb
@mixin card2_theme
  font-family: 'croissantone-regular'
  background-color: #fff5fe
  h1
    font-size: 40px
    color: #c77410
  h2
    font-size: 21px
    background: rgb(198, 116, 17)
    background: linear-gradient(141deg, rgba(198, 116, 17, 1) 0%, rgba(183, 129, 77, 1) 25%, rgba(165, 102, 153, 1) 50%, rgba(140, 90, 176, 1) 75%, rgba(110, 76, 204, 1) 100%)
    @include radient_webkit
  @media only screen and (max-width: 1100px) and (min-width: 700px)
    h1
      font-size: 50px
    h2
      font-size: 31px
@mixin card3_theme
  font-family: 'dancingscript'
  background-color: #eeefef
  h1
    font-size: 40px
    color: #0887fb
    @media only screen and (max-width: 1100px) and (min-width: 700px)
      font-size: 60px
  h2
    font-size: 30px
    background: rgb(0, 41, 221)
    background: linear-gradient(141deg, rgba(0, 41, 221, 1) 0%, rgba(5, 106, 242, 1) 50%, rgba(7, 137, 251, 1) 100%)
    @include radient_webkit
    @media only screen and (max-width: 1100px) and (min-width: 700px)
      font-size: 50px
@mixin card4_theme
  background-color: #fdfffd
  font-family: 'kaushanscript-regular'
  h1
    font-size: 35px
    font-weight: lighter
    color: #72bf56
  h2
    font-size: 30px
    background: rgb(90, 171, 72)
    background: linear-gradient(141deg, rgba(90, 171, 72, 1) 0%, rgba(169, 237, 116, 1) 50%, rgba(190, 255, 127, 1) 100%)
    @include radient_webkit
  @media only screen and (max-width: 1100px) and (min-width: 700px)
    h1
      font-size: 45px
    h2
      font-size: 40px
@mixin site-theme
  font-family: 'montserrat'
  background-color: #569c87
  color: #fcca45
@mixin button-theme
  @include site-theme
  padding: 2% 5% 2% 5%
  border-radius: 10px
  border: inherit
@mixin radient_webkit
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
/* layout */
body
      margin: auto
header
      background-color: $site-color
      text-align: center
      vertical-align: middle
      img
        margin: auto
        padding: 2% 20% 2% 20%
        width: 30%
        @media only screen and (max-width: 1100px) and (min-width: 300px)
          width: 50%
@mixin card-properties
            width: 270px
            text-align: center
            padding-top: 150px
            height: 300px
            vertical-align: middle
            margin: auto
            margin-bottom: 40px
            -webkit-box-shadow: 0px 0px 7px 11px rgba(242, 242, 242, 1)
            -moz-box-shadow: 0px 0px 7px 11px rgba(242, 242, 242, 1)
            box-shadow: 0px 0px 7px 11px rgba(242, 242, 242, 1)
            @media only screen and (max-width: 1100px) and (min-width: 700px)
              width: 48%
              height: 400px
              padding-top: 200px
main
  margin-top: 5%
  display: flex
  flex-wrap: wrap
  .main__card1
    @include card-properties
    @include card1_theme
    h1
      font-size: 50px
    h2
      font-size: 40px
      line-height: 1px
    img
      width: 15%
    @media only screen and (max-width: 1100px) and (min-width: 700px)
      h1
        font-size: 60px
      h2
        font-size: 50px
  .main__card2
    @include card-properties
    @include card2_theme
  .main__card3
    @include card-properties
    @include card3_theme
  .main__card4
    @include card-properties
    @include card4_theme
  .main--btn
    @media only screen and (min-width: 1100px)
      @include button-theme
      @include site-theme
      width: 40%
      font-size: 22px
      margin: 1% 30% 9% 30%
    @media only screen and (max-width: 1100px) and (min-width: 700px)
      font-size: 30px
      margin-bottom: 13%
      @include button-theme
    @media only screen and (max-width: 700px) and (min-width: 400px)
      font-size: 18px
      width: 50%
      margin-bottom: 15%
      @include button-theme
    @media only screen and (max-width: 400px) and (min-width: 300px)
    font-size: 16px
    width: 50%
    margin: 0 25% 15% 25%
    @include button-theme
footer
    position: fixed
    bottom: 0
    left: 0
    @include site-theme
    width: 100%
    font-size: 17px
    @media only screen and (max-width: 1100px) and (min-width: 700px)
      font-size: 30px
    .footer__mention
      padding: 2%
      @include site-theme
      float: left
    .footer__contact
      padding: 2%
      @include site-theme
      float: right
/* hypertext */
/* layout */
@mixin menu-properties
  margin: 5% 0% 16% 0%
  -webkit-box-shadow: 0px 0px 7px 11px rgba(242, 242, 242, 1)
  -moz-box-shadow: 0px 0px 7px 11px rgba(242, 242, 242, 1)
  box-shadow: 0px 0px 7px 11px rgba(242, 242, 242, 1)
  height: auto
  display: flex
  flex-direction: column
  padding: 3%
  @media only screen and (max-width: 1100px) and (min-width: 700px)
    margin: 5% 3% 14% 3%
  @media only screen and (min-width: 1100px)
    margin: 5% 5% 12% 5%
  h2, h3
    text-align: center
    height: 100%
  h3
    @media screen and (min-width: 700px)
      margin: 8% 0 3% 0
  ul
    padding: 0
    list-style: none
    line-height: 40px
    @media screen and (min-width: 700px) and (max-width: 1100px)
      line-height: 50px
      padding: 0 5% 0 5%
    @media screen and (min-width: 1100px)
      line-height: 60px
      padding: 0 7% 0 7%
  .prix
    float: right
    width: 10%
    text-align: right
  .meal
    float: left
    width: 88%
  .dessert
    text-align: justify
  .title_bar_left
    float: left
    @media screen and (min-width: 300px) and (max-width: 400px)
      visibility: hidden
  .title_bar_right
    float: right
    @media screen and (min-width: 300px) and (max-width: 400px)
      visibility: hidden
.menu__1
  @include card1_theme
  @include menu-properties
  .header_title
    font-size: 40px
    line-height: 1px
    padding-top: 30px
    @media only screen and (max-width: 1100px) and (min-width: 700px)
      font-size: 50px
  .note_header
    display: block
    margin-left: auto
    margin-right: auto
    width: 15%
    @media only screen and (min-width: 1100px)
      width: 10%
  .title_bar_left
    max-width: 25%
    padding-top: 12px
    @media only screen and (max-width: 1100px) and (min-width: 700px)
      max-width: 35%
    @media only screen and (min-width: 1100px)
      max-width: 100%
  .title_bar_right
    max-width: 25%
    padding-top: 12px
    @media only screen and (max-width: 1100px) and (min-width: 700px)
      max-width: 35%
  h3
    font-size: 35px
    @media only screen and (max-width: 1100px) and (min-width: 700px)
      font-size: 40px
  ul
    font-size: 30px
    line-height: 60px
  .prix
    font-weight: bold
    @media only screen and (max-width: 400px) and (min-width: 300px)
      padding-top: 40px
  .dessert
    text-align: justify
  .footer_title
    font-size: 50px
    font-weight: bold
    text-align: center
    @media only screen and (max-width: 1100px) and (min-width: 700px)
      font-size: 80px
  .note_footer
    width: 65px
    padding: 1%
.menu__2
  @include card2_theme
  @include menu-properties
  h2
    font-size: 25px
    @media screen and (min-width: 700px)
      font-size: 40px
  h3
    font-size: 19px
  .title_bar_left
    @media screen and (min-width: 400px) and (max-width: 700px)
      width: 16%
      padding: 12px 0 0 0
    @media screen and (min-width: 700px) and (max-width: 1100px)
        width: 30%
        padding: 7px 0 0 0
  .title_bar_right
    @media screen and (min-width: 400px) and (max-width: 700px)
      width: 16%
      padding: 12px 0 0 0
    @media screen and (min-width: 700px) and (max-width: 1100px)
        width: 30%
        padding: 7px 0 0 0
  ul
    @media screen and (min-width: 700px)
      font-size: 20px
  .entree
    color: #c97b1f
  .plat
    color: #a96d9d
    @media screen and (min-width: 300px) and (max-width: 400px)
      .prix
        padding-top: 10px
  .dessert
    color: #7250cd
.menu__3
  @include menu-properties
  @include card3_theme
  h2
    font-size: 35px
    @media screen and (min-width: 700px)
      font-size: 80px
  h3
    font-size: 30px
    font-weight: lighter
    @media screen and (min-width: 700px)
      font-size: 40px
  .title_bar_left
    @media screen and (min-width: 400px) and (max-width: 700px)
      width: 21%
      padding: 17px 0 0 0
    @media screen and (min-width: 700px) and (max-width: 1100px)
        width: 23%
        padding: 20px 0 0 0
    @media screen and (min-width: 1100px)
      width: 30%
      padding: 20px 0 0 0
  .title_bar_right
    @media screen and (min-width: 400px) and (max-width: 700px)
      width: 21%
      padding: 17px 0 0 0
    @media screen and (min-width: 700px) and (max-width: 1100px)
        width: 23%
        padding: 20px 0 0 0
    @media screen and (min-width: 1100px)
      width: 30%
      padding: 20px 0 0 0
  ul
    font-size: 25px
    @media screen and (min-width: 700px)
      font-size: 32px
.menu__4
  @include menu-properties
  @include card4_theme
  h2
    font-size: 25px
    @media screen and (min-width: 700px)
      font-size: 40px
  h3
    font-size: 19px
  .title_bar_left
    @media screen and (min-width: 400px) and (max-width: 700px)
      width: 16%
      padding: 12px 0 0 0
    @media screen and (min-width: 700px) and (max-width: 1100px)
        width: 30%
        padding: 7px 0 0 0
  .title_bar_right
    @media screen and (min-width: 400px) and (max-width: 700px)
      width: 16%
      padding: 12px 0 0 0
    @media screen and (min-width: 700px) and (max-width: 1100px)
        width: 30%
        padding: 7px 0 0 0
  .entree
    color: #c97b1f
  .plat
    color: #a96d9d
    @media screen and (min-width: 300px) and (max-width: 400px)
      .prix
        padding-top: 10px
  .dessert
    color: #7250cd
