body, html {
  margin: auto;
  height: 100%; }

@font-face {
  font-family: "babiol";
  src: url(babie___.ttf); }
@font-face {
  font-family: "montserrat";
  src: url(montserrat-regular.ttf); }
@font-face {
  font-family: "croissantone-regular";
  src: url(croissantone-regular.ttf); }
@font-face {
  font-family: "dancingscript";
  src: url(dancing-script.ttf); }
@font-face {
  font-family: "kaushanscript-regular";
  src: url(kaushanscript-regular.ttf); }
header {
  background-color: #569c87;
  text-align: center;
  margin-bottom: 5%;
  max-height: 150px;
  vertical-align: middle; }
  header img {
    padding: 2% 20% 2% 20%;
    width: 30%;
    max-height: 100px; }

main {
  display: flex;
  flex-wrap: wrap; }
  main .main__card1 {
    width: 270px;
    text-align: center;
    padding-top: 150px;
    height: 300px;
    vertical-align: middle;
    margin: auto;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 7px 11px #f2f2f2;
    -moz-box-shadow: 0px 0px 7px 11px #f2f2f2;
    box-shadow: 0px 0px 7px 11px #f2f2f2;
    font-family: "babiol";
    background-color: #fcdfdb; }
    main .main__card1 h1 {
      font-size: 50px; }
    main .main__card1 h2 {
      font-size: 40px;
      line-height: 1px; }
    main .main__card1 img {
      width: 15%; }
  main .main__card2 {
    width: 270px;
    text-align: center;
    padding-top: 150px;
    height: 300px;
    vertical-align: middle;
    margin: auto;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 7px 11px #f2f2f2;
    -moz-box-shadow: 0px 0px 7px 11px #f2f2f2;
    box-shadow: 0px 0px 7px 11px #f2f2f2;
    font-family: "croissantone-regular";
    background-color: #fff5fe;
    white-space: nowrap; }
    main .main__card2 h1 {
      font-size: 40px;
      color: #c77410; }
    main .main__card2 h2 {
      font-size: 21px;
      background: #c67411;
      background: linear-gradient(141deg, #c67411 0%, #b7814d 25%, #a56699 50%, #8c5ab0 75%, #6e4ccc 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  main .main__card3 {
    width: 270px;
    text-align: center;
    padding-top: 150px;
    height: 300px;
    vertical-align: middle;
    margin: auto;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 7px 11px #f2f2f2;
    -moz-box-shadow: 0px 0px 7px 11px #f2f2f2;
    box-shadow: 0px 0px 7px 11px #f2f2f2;
    font-family: "dancingscript";
    background-color: #f9f9f9; }
    main .main__card3 h1 {
      font-size: 40px;
      color: #0887fb; }
    main .main__card3 h2 {
      font-size: 30px;
      background: #0029dd;
      background: linear-gradient(141deg, #0029dd 0%, #056af2 50%, #0789fb 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  main .main__card4 {
    width: 270px;
    text-align: center;
    padding-top: 150px;
    height: 300px;
    vertical-align: middle;
    margin: auto;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 7px 11px #f2f2f2;
    -moz-box-shadow: 0px 0px 7px 11px #f2f2f2;
    box-shadow: 0px 0px 7px 11px #f2f2f2;
    background-color: #fdfffd;
    font-family: "kaushanscript-regular"; }
    main .main__card4 h1 {
      font-size: 35px;
      font-weight: lighter;
      color: #72bf56; }
    main .main__card4 h2 {
      font-size: 30px;
      background: #5aab48;
      background: linear-gradient(141deg, #5aab48 0%, #a9ed74 50%, #beff7f 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  main p {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 14%; }
  main .main--btn {
    font-family: "montserrat";
    background-color: #569c87;
    color: #fcca45;
    padding: 2% 5% 2% 5%;
    font-size: 22px;
    border-radius: 10px;
    border: inherit; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: "montserrat";
  background-color: #569c87;
  color: #fcca45;
  width: 100%;
  font-size: 18px; }
  footer .footer__mention {
    padding: 2%;
    text-decoration-line: none;
    font-family: "montserrat";
    background-color: #569c87;
    color: #fcca45;
    float: left; }
  footer .footer__contact {
    padding: 2%;
    text-decoration-line: none;
    font-family: "montserrat";
    background-color: #569c87;
    color: #fcca45;
    float: right; }

/*# sourceMappingURL=style.css.map */
