@charset "UTF-8";
/* font */
a {
  text-decoration-line: none;
  color: inherit;
  display: block; }

@font-face {
  font-family: "babiol";
  src: url(font/babie___.ttf); }
@font-face {
  font-family: "montserrat";
  src: url(font/montserrat-regular.ttf); }
@font-face {
  font-family: "croissantone-regular";
  src: url(font/croissantone-regular.ttf); }
@font-face {
  font-family: "dancingscript";
  src: url(font/dancing-script.ttf); }
@font-face {
  font-family: "kaushanscript-regular";
  src: url(font/kaushanscript-regular.ttf); }
/* style */
/* Index Layout */
body {
  margin: auto; }

header {
  background-color: #569c87;
  width: 100%;
  text-align: center;
  vertical-align: middle; }
  header img {
    margin: auto;
    padding: 2% 20% 2% 20%;
    width: 50%; }
    @media screen and (min-width: 600px) {
      header img {
        width: 30%; } }

main {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap; }
  main .main__card1 {
    -webkit-box-shadow: 0px 0px 7px 5px #f2f2f2;
    -moz-box-shadow: 0px 0px 7px 5px #f2f2f2;
    box-shadow: 0px 0px 7px 5px #f2f2f2;
    text-align: center;
    font-family: "babiol";
    background-color: #fcdfdb; }
    main .main__card1:hover {
      opacity: 0.5; }
    main .main__card1:hover a {
      transform: scale(1.2);
      transform-origin: 50% 50%;
      transition-duration: 1s; }
    @media only screen and (min-width: 300px) and (max-width: 400px) {
      main .main__card1 {
        width: 46%;
        height: 200px;
        padding-top: 50px;
        margin: 1% 2% 8% 2%; } }
    @media only screen and (min-width: 400px) and (max-width: 550px) {
      main .main__card1 {
        width: 40%;
        height: 200px;
        padding-top: 50px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 550px) and (max-width: 650px) {
      main .main__card1 {
        width: 40%;
        height: 220px;
        padding-top: 80px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 650px) and (max-width: 750px) {
      main .main__card1 {
        width: 40%;
        height: 250px;
        padding-top: 85px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 750px) and (max-width: 1100px) {
      main .main__card1 {
        width: 30%;
        height: 250px;
        padding-top: 50px;
        margin: 1% 2% 5% 1%; } }
    @media only screen and (min-width: 900px) and (max-width: 1100px) {
      main .main__card1 {
        width: 23%;
        height: 250px;
        padding-top: 50px;
        margin: 1% 1% 5% 1%; } }
    @media only screen and (min-width: 1100px) {
      main .main__card1 {
        width: 20%;
        height: 250px;
        padding-top: 100px;
        margin: 0 3% 2% 2%; } }
    main .main__card1 h1 {
      font-size: 30px; }
    main .main__card1 h2 {
      font-size: 30px;
      line-height: 1px; }
    main .main__card1 img {
      width: 10%; }
      @media only screen and (max-width: 1100px) and (min-width: 700px) {
        main .main__card1 img {
          font-size: 50px; } }
  main .main__card2 {
    -webkit-box-shadow: 0px 0px 7px 5px #f2f2f2;
    -moz-box-shadow: 0px 0px 7px 5px #f2f2f2;
    box-shadow: 0px 0px 7px 5px #f2f2f2;
    text-align: center;
    font-family: "croissantone-regular";
    background-color: #fff5fe; }
    main .main__card2:hover {
      opacity: 0.5; }
    main .main__card2:hover a {
      transform: scale(1.2);
      transform-origin: 50% 50%;
      transition-duration: 1s; }
    @media only screen and (min-width: 300px) and (max-width: 400px) {
      main .main__card2 {
        width: 46%;
        height: 200px;
        padding-top: 50px;
        margin: 1% 2% 8% 2%; } }
    @media only screen and (min-width: 400px) and (max-width: 550px) {
      main .main__card2 {
        width: 40%;
        height: 200px;
        padding-top: 50px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 550px) and (max-width: 650px) {
      main .main__card2 {
        width: 40%;
        height: 220px;
        padding-top: 80px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 650px) and (max-width: 750px) {
      main .main__card2 {
        width: 40%;
        height: 250px;
        padding-top: 85px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 750px) and (max-width: 1100px) {
      main .main__card2 {
        width: 30%;
        height: 250px;
        padding-top: 50px;
        margin: 1% 2% 5% 1%; } }
    @media only screen and (min-width: 900px) and (max-width: 1100px) {
      main .main__card2 {
        width: 23%;
        height: 250px;
        padding-top: 50px;
        margin: 1% 1% 5% 1%; } }
    @media only screen and (min-width: 1100px) {
      main .main__card2 {
        width: 20%;
        height: 250px;
        padding-top: 100px;
        margin: 0 3% 2% 2%; } }
    main .main__card2 h1 {
      font-size: 25px;
      color: #c77410; }
    main .main__card2 h2 {
      font-size: 21px;
      background: #c67411;
      background: linear-gradient(141deg, #c67411 0%, #b7814d 25%, #a56699 50%, #8c5ab0 75%, #6e4ccc 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  main .main__card3 {
    -webkit-box-shadow: 0px 0px 7px 5px #f2f2f2;
    -moz-box-shadow: 0px 0px 7px 5px #f2f2f2;
    box-shadow: 0px 0px 7px 5px #f2f2f2;
    text-align: center;
    font-family: "dancingscript";
    background-color: #eeefef; }
    main .main__card3:hover {
      opacity: 0.5; }
    main .main__card3:hover a {
      transform: scale(1.2);
      transform-origin: 50% 50%;
      transition-duration: 1s; }
    @media only screen and (min-width: 300px) and (max-width: 400px) {
      main .main__card3 {
        width: 46%;
        height: 200px;
        padding-top: 50px;
        margin: 1% 2% 8% 2%; } }
    @media only screen and (min-width: 400px) and (max-width: 550px) {
      main .main__card3 {
        width: 40%;
        height: 200px;
        padding-top: 50px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 550px) and (max-width: 650px) {
      main .main__card3 {
        width: 40%;
        height: 220px;
        padding-top: 80px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 650px) and (max-width: 750px) {
      main .main__card3 {
        width: 40%;
        height: 250px;
        padding-top: 85px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 750px) and (max-width: 1100px) {
      main .main__card3 {
        width: 30%;
        height: 250px;
        padding-top: 50px;
        margin: 1% 2% 5% 1%; } }
    @media only screen and (min-width: 900px) and (max-width: 1100px) {
      main .main__card3 {
        width: 23%;
        height: 250px;
        padding-top: 50px;
        margin: 1% 1% 5% 1%; } }
    @media only screen and (min-width: 1100px) {
      main .main__card3 {
        width: 20%;
        height: 250px;
        padding-top: 100px;
        margin: 0 3% 2% 2%; } }
    main .main__card3 h1 {
      font-size: 30px;
      color: #0887fb; }
    main .main__card3 h2 {
      font-size: 25px;
      background: #0029dd;
      background: linear-gradient(141deg, #0029dd 0%, #056af2 50%, #0789fb 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  main .main__card4 {
    -webkit-box-shadow: 0px 0px 7px 5px #f2f2f2;
    -moz-box-shadow: 0px 0px 7px 5px #f2f2f2;
    box-shadow: 0px 0px 7px 5px #f2f2f2;
    text-align: center;
    background-color: #fdfffd;
    font-family: "kaushanscript-regular"; }
    main .main__card4:hover {
      opacity: 0.5; }
    main .main__card4:hover a {
      transform: scale(1.2);
      transform-origin: 50% 50%;
      transition-duration: 1s; }
    @media only screen and (min-width: 300px) and (max-width: 400px) {
      main .main__card4 {
        width: 46%;
        height: 200px;
        padding-top: 50px;
        margin: 1% 2% 8% 2%; } }
    @media only screen and (min-width: 400px) and (max-width: 550px) {
      main .main__card4 {
        width: 40%;
        height: 200px;
        padding-top: 50px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 550px) and (max-width: 650px) {
      main .main__card4 {
        width: 40%;
        height: 220px;
        padding-top: 80px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 650px) and (max-width: 750px) {
      main .main__card4 {
        width: 40%;
        height: 250px;
        padding-top: 85px;
        margin: 1% 5% 8% 5%; } }
    @media only screen and (min-width: 750px) and (max-width: 1100px) {
      main .main__card4 {
        width: 30%;
        height: 250px;
        padding-top: 50px;
        margin: 1% 2% 5% 1%; } }
    @media only screen and (min-width: 900px) and (max-width: 1100px) {
      main .main__card4 {
        width: 23%;
        height: 250px;
        padding-top: 50px;
        margin: 1% 1% 5% 1%; } }
    @media only screen and (min-width: 1100px) {
      main .main__card4 {
        width: 20%;
        height: 250px;
        padding-top: 100px;
        margin: 0 3% 2% 2%; } }
    main .main__card4 h1 {
      font-size: 25px;
      font-weight: lighter;
      color: #72bf56; }
    main .main__card4 h2 {
      font-size: 23px;
      background: #5aab48;
      background: linear-gradient(141deg, #5aab48 0%, #a9ed74 50%, #beff7f 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

button {
  text-align: center;
  display: flex;
  font-family: "montserrat";
  background-color: #569c87;
  color: #fcca45;
  padding: 2% 5% 2% 5%;
  border-radius: 10px;
  border: 0;
  font-family: "montserrat";
  background-color: #569c87;
  color: #fcca45; }
  @media only screen and (min-width: 1400px) {
    button {
      width: 21%;
      font-size: 18px;
      margin: 1% 39% 9% 39%; } }
  @media only screen and (min-width: 1000px) and (max-width: 1400px) {
    button {
      width: 23%;
      font-size: 17px;
      margin: 1% 38% 9% 38%; } }
  @media only screen and (min-width: 750px) and (max-width: 1000px) {
    button {
      font-size: 17px;
      width: 29%;
      margin: 1% 32% 9% 32%; } }
  @media only screen and (min-width: 600px) and (max-width: 750px) {
    button {
      font-size: 17px;
      width: 34%;
      margin: 1% 32% 9% 32%; } }
  @media only screen and (min-width: 500px) and (max-width: 600px) {
    button {
      width: 40%;
      margin: 0 30% 13% 30%;
      font-size: 16px; } }
  @media only screen and (max-width: 500px) and (min-width: 400px) {
    button {
      font-size: 16px;
      width: 45%;
      margin: 0 27% 15% 27%; } }
  @media only screen and (max-width: 400px) and (min-width: 300px) {
    button {
      font-size: 16px;
      width: 50%;
      margin: 0 25% 15% 25%; } }
  button:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 1200ms infinite;
    animation: ellipsis steps(4, end) 1200ms infinite;
    content: "…";
    width: 0px; }
@keyframes ellipsis {
  to {
    width: 20px; } }
@-webkit-keyframes ellipsis {
  to {
    width: 20px; } }
footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "montserrat";
  background-color: #569c87;
  color: #fcca45;
  font-size: 17px; }
  @media only screen and (min-width: 700px) {
    footer {
      font-size: 17px;
      max-height: 10%; } }
  footer a:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite; }
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
  footer .footer__mention {
    padding: 2%;
    font-family: "montserrat";
    background-color: #569c87;
    color: #fcca45;
    float: left; }
  footer .footer__contact {
    padding: 2%;
    font-family: "montserrat";
    background-color: #569c87;
    color: #fcca45;
    float: right; }

/* hypertext Layout */
/* layout */
.menu__1 {
  font-family: "babiol";
  background-color: #fcdfdb;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 7px 11px #f2f2f2;
  -moz-box-shadow: 0px 0px 7px 11px #f2f2f2;
  box-shadow: 0px 0px 7px 11px #f2f2f2;
  padding: 3%;
  margin: 5% 1% 10% 1%; }
  .menu__1 h1 {
    font-size: 30px; }
  .menu__1 h2 {
    font-size: 30px;
    line-height: 1px; }
  .menu__1 img {
    width: 10%; }
    @media only screen and (max-width: 1100px) and (min-width: 700px) {
      .menu__1 img {
        font-size: 50px; } }
  @media only screen and (min-width: 700px) {
    .menu__1 {
      margin: 5% 3% 14% 3%; } }
  @media only screen and (min-width: 1100px) {
    .menu__1 {
      margin: 3% 5% 12% 5%;
      padding: 1% 5% 1% 5%; } }
  .menu__1 h2, .menu__1 h3 {
    text-align: center; }
  .menu__1 h3 {
    font-weight: lighter; }
  .menu__1 ul {
    padding: 0;
    list-style: none;
    line-height: 30px; }
    @media screen and (min-width: 700px) and (max-width: 1100px) {
      .menu__1 ul {
        line-height: 30px;
        padding: 0 5% 0 5%; } }
    @media screen and (min-width: 1100px) {
      .menu__1 ul {
        line-height: 45px;
        padding: 0 7% 0 7%; } }
  .menu__1 .prix {
    float: right;
    width: 10%;
    text-align: right; }
  .menu__1 .meal {
    float: left;
    width: 88%; }
  .menu__1 .dessert {
    text-align: justify; }
  .menu__1 .title_bar_left {
    float: left; }
    @media screen and (min-width: 300px) and (max-width: 400px) {
      .menu__1 .title_bar_left {
        width: 0; } }
  .menu__1 .title_bar_right {
    float: right; }
    @media screen and (min-width: 300px) and (max-width: 400px) {
      .menu__1 .title_bar_right {
        width: 0; } }
  .menu__1 .header_title {
    font-size: 40px;
    line-height: 1px;
    padding-top: 30px; }
  .menu__1 .note_header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%; }
    @media only screen and (min-width: 1100px) {
      .menu__1 .note_header {
        width: 10%; } }
  .menu__1 .footer_title {
    font-size: 50px;
    font-weight: bold;
    text-align: center; }
    @media only screen and (max-width: 1100px) and (min-width: 700px) {
      .menu__1 .footer_title {
        font-size: 80px; } }
  .menu__1 .note_footer {
    width: 65px;
    padding: 1%; }
    @media screen and (min-width: 300px) and (max-width: 700px) {
      .menu__1 .note_footer {
        width: 10%; } }
  .menu__1 h2 {
    font-size: 30px; }
    @media screen and (min-width: 700px) {
      .menu__1 h2 {
        font-size: 40px; } }
  .menu__1 .hover {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    cursor: pointer; }
    .menu__1 .hover:hover:after {
      width: 100%;
      left: 0;
      font-size: 25px; }
    .menu__1 .hover:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      background: black; }
    @media screen and (min-width: 700px) {
      .menu__1 .hover {
        font-size: 25px; } }
    @media screen and (min-width: 1100px) {
      .menu__1 .hover {
        font-size: 35px; } }
  .menu__1 .title_bar_left, .menu__1 .title_bar_right {
    display: flex; }
    @media screen and (min-width: 400px) {
      .menu__1 .title_bar_left, .menu__1 .title_bar_right {
        width: 30%;
        padding-top: 8px; } }
    @media screen and (min-width: 700px) {
      .menu__1 .title_bar_left, .menu__1 .title_bar_right {
        width: 35%;
        height: 13px; } }
    @media screen and (min-width: 1100px) {
      .menu__1 .title_bar_left, .menu__1 .title_bar_right {
        height: 20px;
        width: 35%; } }
  @media screen and (min-width: 300px) {
    .menu__1 ul {
      font-size: 20px; } }
  @media screen and (min-width: 700px) {
    .menu__1 ul {
      font-size: 25px; } }
  @media screen and (min-width: 300px) {
    .menu__1 .footer_title {
      font-size: 28px; } }
  @media screen and (min-width: 700px) {
    .menu__1 .footer_title {
      font-size: 40px; } }
  @media screen and (min-width: 1100px) {
    .menu__1 .footer_title {
      font-size: 50px; } }
  @media screen and (min-width: 300px) {
    .menu__1 .footer_title img {
      width: 10%; } }
  @media screen and (min-width: 700px) {
    .menu__1 .footer_title img {
      width: 5%; } }

.menu__2 {
  font-family: "croissantone-regular";
  background-color: #fff5fe;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 7px 11px #f2f2f2;
  -moz-box-shadow: 0px 0px 7px 11px #f2f2f2;
  box-shadow: 0px 0px 7px 11px #f2f2f2;
  padding: 3%;
  margin: 5% 1% 10% 1%; }
  .menu__2 h1 {
    font-size: 25px;
    color: #c77410; }
  .menu__2 h2 {
    font-size: 21px;
    background: #c67411;
    background: linear-gradient(141deg, #c67411 0%, #b7814d 25%, #a56699 50%, #8c5ab0 75%, #6e4ccc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  @media only screen and (min-width: 700px) {
    .menu__2 {
      margin: 5% 3% 14% 3%; } }
  @media only screen and (min-width: 1100px) {
    .menu__2 {
      margin: 3% 5% 12% 5%;
      padding: 1% 5% 1% 5%; } }
  .menu__2 h2, .menu__2 h3 {
    text-align: center; }
  .menu__2 h3 {
    font-weight: lighter; }
  .menu__2 ul {
    padding: 0;
    list-style: none;
    line-height: 30px; }
    @media screen and (min-width: 700px) and (max-width: 1100px) {
      .menu__2 ul {
        line-height: 30px;
        padding: 0 5% 0 5%; } }
    @media screen and (min-width: 1100px) {
      .menu__2 ul {
        line-height: 45px;
        padding: 0 7% 0 7%; } }
  .menu__2 .prix {
    float: right;
    width: 10%;
    text-align: right; }
  .menu__2 .meal {
    float: left;
    width: 88%; }
  .menu__2 .dessert {
    text-align: justify; }
  .menu__2 .title_bar_left {
    float: left; }
    @media screen and (min-width: 300px) and (max-width: 400px) {
      .menu__2 .title_bar_left {
        width: 0; } }
  .menu__2 .title_bar_right {
    float: right; }
    @media screen and (min-width: 300px) and (max-width: 400px) {
      .menu__2 .title_bar_right {
        width: 0; } }
  .menu__2 .plat {
    color: #a96d9d; }
  .menu__2 .entree {
    color: #c97b1f; }
  .menu__2 .dessert {
    color: #7250cd; }
  .menu__2 h2 {
    font-size: 30px; }
  .menu__2 h3 {
    font-size: 19px; }
  @media screen and (min-width: 400px) and (max-width: 500px) {
    .menu__2 .title_bar_left, .menu__2 .title_bar_right {
      height: 6px;
      width: 11%;
      padding: 12px 0 0 0; } }
  @media screen and (min-width: 500px) and (max-width: 700px) {
    .menu__2 .title_bar_left, .menu__2 .title_bar_right {
      height: 7px;
      width: 15%;
      padding: 10px 0 0 0; } }
  @media screen and (min-width: 700px) and (max-width: 900px) {
    .menu__2 .title_bar_left, .menu__2 .title_bar_right {
      height: 8px;
      width: 20%;
      padding-top: 10px; } }
  @media screen and (min-width: 900px) and (max-width: 1100px) {
    .menu__2 .title_bar_left, .menu__2 .title_bar_right {
      height: 8px;
      width: 27%;
      padding-top: 8px; } }
  @media screen and (min-width: 1100px) {
    .menu__2 .title_bar_left, .menu__2 .title_bar_right {
      width: 30%;
      height: 12px; } }
  .menu__2 .hover {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    cursor: pointer; }
    .menu__2 .hover:hover:after {
      width: 100%;
      left: 0;
      font-size: 25px; }
  .menu__2 .hover1:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    background: #c97b1f; }
  .menu__2 .hover2:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    background: #a96d9d; }
  .menu__2 .hover3:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    background: #7250cd; }
  .menu__2 ul {
    font-size: 16px; }

.menu__3 {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 7px 11px #f2f2f2;
  -moz-box-shadow: 0px 0px 7px 11px #f2f2f2;
  box-shadow: 0px 0px 7px 11px #f2f2f2;
  padding: 3%;
  margin: 5% 1% 10% 1%;
  font-family: "dancingscript";
  background-color: #eeefef; }
  @media only screen and (min-width: 700px) {
    .menu__3 {
      margin: 5% 3% 14% 3%; } }
  @media only screen and (min-width: 1100px) {
    .menu__3 {
      margin: 3% 5% 12% 5%;
      padding: 1% 5% 1% 5%; } }
  .menu__3 h2, .menu__3 h3 {
    text-align: center; }
  .menu__3 h3 {
    font-weight: lighter; }
  .menu__3 ul {
    padding: 0;
    list-style: none;
    line-height: 30px; }
    @media screen and (min-width: 700px) and (max-width: 1100px) {
      .menu__3 ul {
        line-height: 30px;
        padding: 0 5% 0 5%; } }
    @media screen and (min-width: 1100px) {
      .menu__3 ul {
        line-height: 45px;
        padding: 0 7% 0 7%; } }
  .menu__3 .prix {
    float: right;
    width: 10%;
    text-align: right; }
  .menu__3 .meal {
    float: left;
    width: 88%; }
  .menu__3 .dessert {
    text-align: justify; }
  .menu__3 .title_bar_left {
    float: left; }
    @media screen and (min-width: 300px) and (max-width: 400px) {
      .menu__3 .title_bar_left {
        width: 0; } }
  .menu__3 .title_bar_right {
    float: right; }
    @media screen and (min-width: 300px) and (max-width: 400px) {
      .menu__3 .title_bar_right {
        width: 0; } }
  .menu__3 h1 {
    font-size: 30px;
    color: #0887fb; }
  .menu__3 h2 {
    font-size: 25px;
    background: #0029dd;
    background: linear-gradient(141deg, #0029dd 0%, #056af2 50%, #0789fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu__3 h2 {
    font-size: 40px; }
  .menu__3 h3 {
    font-size: 20px; }
  .menu__3 .hover {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    cursor: pointer; }
    .menu__3 .hover:hover:after {
      width: 100%;
      left: 0;
      font-size: 25px; }
    .menu__3 .hover:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #0887fb;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }
  @media screen and (min-width: 400px) {
    .menu__3 .title_bar_left, .menu__3 .title_bar_right {
      width: 20%;
      padding-top: 14px; } }
  @media screen and (min-width: 700px) {
    .menu__3 .title_bar_left, .menu__3 .title_bar_right {
      width: 25%;
      padding-top: 15px; } }
  @media screen and (min-width: 1100px) {
    .menu__3 .title_bar_left, .menu__3 .title_bar_right {
      width: 30%;
      padding-top: 10px; } }
  .menu__3 ul {
    font-size: 22px; }

.menu__4 {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 7px 11px #f2f2f2;
  -moz-box-shadow: 0px 0px 7px 11px #f2f2f2;
  box-shadow: 0px 0px 7px 11px #f2f2f2;
  padding: 3%;
  margin: 5% 1% 10% 1%;
  background-color: #fdfffd;
  font-family: "kaushanscript-regular"; }
  @media only screen and (min-width: 700px) {
    .menu__4 {
      margin: 5% 3% 14% 3%; } }
  @media only screen and (min-width: 1100px) {
    .menu__4 {
      margin: 3% 5% 12% 5%;
      padding: 1% 5% 1% 5%; } }
  .menu__4 h2, .menu__4 h3 {
    text-align: center; }
  .menu__4 h3 {
    font-weight: lighter; }
  .menu__4 ul {
    padding: 0;
    list-style: none;
    line-height: 30px; }
    @media screen and (min-width: 700px) and (max-width: 1100px) {
      .menu__4 ul {
        line-height: 30px;
        padding: 0 5% 0 5%; } }
    @media screen and (min-width: 1100px) {
      .menu__4 ul {
        line-height: 45px;
        padding: 0 7% 0 7%; } }
  .menu__4 .prix {
    float: right;
    width: 10%;
    text-align: right; }
  .menu__4 .meal {
    float: left;
    width: 88%; }
  .menu__4 .dessert {
    text-align: justify; }
  .menu__4 .title_bar_left {
    float: left; }
    @media screen and (min-width: 300px) and (max-width: 400px) {
      .menu__4 .title_bar_left {
        width: 0; } }
  .menu__4 .title_bar_right {
    float: right; }
    @media screen and (min-width: 300px) and (max-width: 400px) {
      .menu__4 .title_bar_right {
        width: 0; } }
  .menu__4 h1 {
    font-size: 25px;
    font-weight: lighter;
    color: #72bf56; }
  .menu__4 h2 {
    font-size: 23px;
    background: #5aab48;
    background: linear-gradient(141deg, #5aab48 0%, #a9ed74 50%, #beff7f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu__4 h2 {
    font-size: 30px; }
  .menu__4 h3 {
    font-size: 20px; }
  .menu__4 .hover {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    cursor: pointer; }
    .menu__4 .hover:hover:after {
      width: 100%;
      left: 0;
      font-size: 25px; }
    .menu__4 .hover:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #72bf56;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }
  @media screen and (min-width: 400px) {
    .menu__4 .title_bar_left, .menu__4 .title_bar_right {
      width: 22%;
      padding-top: 15px; } }
  @media screen and (min-width: 700px) {
    .menu__4 .title_bar_left, .menu__4 .title_bar_right {
      width: 26%;
      padding-top: 20px; } }
  @media screen and (min-width: 1100px) {
    .menu__4 .title_bar_left, .menu__4 .title_bar_right {
      width: 30%;
      padding-top: 25px; } }
  .menu__4 ul {
    font-size: 15px; }
    @media screen and (min-width: 400px) {
      .menu__4 ul {
        font-size: 17px; } }
    @media screen and (min-width: 700px) {
      .menu__4 ul {
        font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
